[Unit]
Description=DNSimple DDNS

[Service]
Type=simple
EnvironmentFile="/etc/dddns.env"
ExecStart=/opt/dddns/dddns.sh

[Install]
WantedBy= multi-user.target
